@page "/videogames"
@inject HttpClient https

<h3>Video Games</h3>

@if (videoGames.Count <= 0)
{
    <span>Loading Video Games...</span>
}
else
{
    <ul>
        @foreach (var videoGame in videoGames)
        {
            <li>@videoGame.Title - @videoGame.Publisher - @videoGame.ReleaseYear</li>
        }
    </ul>
}

@code {
    List<VideoGame> videoGames = new List<VideoGame>();

    protected override async Task OnInitializedAsync()
    {
        return  base.OnInitializedAsync();
    }
}
